.home-background{
    text-align: center;
    background-image: url("https://i.ibb.co/nCN3fCP/empty-theater-with-soda-and-popcorn-left-behind.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}